<header>
  <div class="logo-wrapper">
    <img routerLink="/" [src]="getLogo()" alt="">
  </div>


  <div class="big-screen-menu">
    <a href="#about-me">About me</a>
    <a href="#skills">Skill Set</a>
    <a href="#projects">My work</a>
    <a href="#contact-me">Contact</a>
  </div>

  <div [class.active]="isActive" class="menu-element">

    <div class="logo">
      <img src="../../assets/icons/logo-blue.png" alt="">
    </div>
    <a href="#about-me" (click)="closeMenu()">About me</a>
    <a href="#skills" (click)="closeMenu()">Skill Set</a>
    <a href="#projects" (click)="closeMenu()">My work</a>
    <a href="#contact-me" (click)="closeMenu()">Contact</a>
  </div>

  <div class="menu-wrapper" (click)="toggleMenu()">
    <div [class.active]="isActive" class="menu-line line1"></div>
    <div [class.active]="isActive" class="menu-line line2"></div>
    <div [class.active]="isActive" class="menu-line line3"></div>
  </div>
</header>
