@keyframes underlineAnimation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

header{
  background-color: var(--background-color);
}

.header-class {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 10rem;
  padding-right: 10rem;
  margin-top: 2.4rem;



  img{
    margin-top: 2.3rem;
    margin-bottom: 2.3rem;
    position: absolute;
    left: 10rem;
    // top: ;
    z-index: 3;

  }
  .links {
    display: flex;
    justify-content: space-between;
    font-family: Montserrat;
    gap: 10.6rem;

    a {
      text-decoration: none;
      color: var(--main-color);
      font-size: 2.3rem;
      font-weight: 400;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        background-color: var(--main-color);
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: width 0.3s ease-in-out;
      }

      &:hover::after {
        width: 100%;
      }

      &:hover {
        font-weight: 600;
      }
    }
  }
}
