header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  position: absolute;
  width: 100%;

  img {
    margin: 2.5rem 9.2rem;
    position: relative;
    z-index: 7;
    height: 7rem;
    cursor: pointer;
  }
}



$menu-width: 2.5rem;
$menu-height: .2rem;
$menu-color: var(--main-color);
$menu-gap: 1rem; // Gap between the lines

.menu-wrapper {
  width: $menu-width;
  height: $menu-height * 3 + $menu-gap * 2; // 3 lines and 2 gaps
  cursor: pointer;
  display: none ;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 2.5rem;
  overflow: hidden;
  position: relative;
  z-index: 8;

  .menu-line {
    width: $menu-width;
    height: $menu-height;
    background-color: $menu-color;
    transition: transform 0.3s ease, opacity 0.3s ease;

    &.line1.active {
      transform: translateY($menu-height + $menu-gap) rotate(45deg);
    }

    &.line2.active {
      opacity: 0;
    }

    &.line3.active {
      transform: translateY(-$menu-height - $menu-gap) rotate(-45deg);
    }
  }
}

%link-hover-animation {
  position: relative;
  padding-bottom: 5px;
  transition: color 0.3s ease;

  &:hover {
    color: var(--main-color);
    font-weight: 700;

    &::after {
      width: 100%;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--main-color);
    transition: width 0.3s ease;
  }
}

.menu-element {
  position: fixed;
  z-index: 7;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(50px) scale(0.95); // Slightly move it down and scale it down
  transition: opacity 0.4s ease, visibility 0.4s ease, transform 0.4s ease;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.9);
  overflow: hidden;

  &.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0) scale(1);
  }

  .logo{
    position: absolute;
    top: 0;
    left: 0;
  }
  a {
    font-size: 2.3rem;
    color: var(--main-color);
    text-decoration: none;
    margin-bottom: 2.9rem;
    transform: translateY(20px);
    transition: color 0.3s ease, opacity 0.3s ease;
    font-family: var(--Montserrat);
    @extend %link-hover-animation;

    &:hover {
      opacity: 0.7; // Slight fade out on hover
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: var(--main-color);
      transition: width 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55); // This cubic-bezier gives a "spring" effect
    }

    &:hover::before {
      width: 100%;
    }
  }
}

body {
  &.no-scroll {
    overflow: hidden;
    max-height: 100vh;
  }
}


.big-screen-menu {
  display: flex;
  gap: 4rem;
  margin-right: 8.35rem;
  z-index: 7;


  a {
    font-size: 2.3rem;
    color: var(--main-color);
    text-decoration: none;
    font-family: var(--Montserrat);
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease;
    width: 12rem;
    @extend %link-hover-animation;
    &:hover {
      color: var(--main-color);
      cursor: pointer;


      &::after {
        width: 100%;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: var(--main-color);
      transition: width 0.3s ease;
    }
  }
}

.bg-buble-one{
position: absolute;
}

@media (max-width: 500px) {
.logo{
  img{
  margin: 2.5rem 3.2rem !important;

}}

}

@media (max-width: 1080px) {
  .menu-wrapper ,   .menu-element {
      display: flex;
  }

  .big-screen-menu{
    display: none;
  }

}

@media only screen and (max-width:677px){
  .logo-wrapper{
    img{
      margin: 2.5rem 3.2rem
    }
  }
}

@media only screen and (min-width:2001px){
  header{
    padding-left: 22%;
    padding-right: 25%;
  }
}
