<footer>
  <a href="#hero"><img src="../../assets/icons/logo.png" alt=""></a>

  <div class="footer-content">
    <h2>© Sanjaya Shrestha 2023</h2>
    <a routerLink="/imprint">Imprint</a>
  </div>

  <div class="socials">
    <a href="https://github.com/pasa2002" target="_blank" >
      <img src="../../assets/icons/github-white.svg"  alt="github logo">
    </a>
    <a href="mailto:sanjaya12stha@gmail.com" target="_blank" >
      <img src="../../assets/icons/email-white.svg"  alt="mail logo">
    </a>
    <a href="https://www.linkedin.com/in/sanjaya-shrestha-9212a8242/" target="_blank" >
      <img src="../../assets/icons/linkedin-white.svg"  alt="linkedin logo">
    </a>



  </div>
</footer>
