$gradient-start-color: #5988FF;
$gradient-mid-color: #5988FF;
$gradient-end-color: #0043F0;
$gradient-size: 126.01% 116.59%;
$gradient-position: 10.51% 28.29%;
$gradient-start-stop: 6.25%;
$gradient-mid-stop: 51.56%;

:host.fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
}


footer {
  background: radial-gradient($gradient-size at $gradient-position, $gradient-start-color $gradient-start-stop, $gradient-mid-color $gradient-mid-stop, $gradient-end-color 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  padding: 10.1rem 10rem 6rem 10rem;
  img{
    padding-top: 2rem;
    height: 7rem;
  }

  .footer-content {
    font-family: var(--Montserrat);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    h2 {
      font-size: 2.3rem;
      margin-bottom: 2rem;
    }

    a {
      font-size: 1.6rem;
      font-weight: 400;
      position: relative;
      text-decoration: none;
      transition: font-weight 225ms ease-in;
      cursor: pointer;
      color: white;

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: currentColor;
        transition: width 225ms ease-in;
      }

      &:hover {
        font-weight: 600;

        &::before {
          width: 100%;
        }
      }
    }
  }

  .socials{
    display: flex;
    gap: 2rem;
    overflow: hidden;
    padding-top: 2rem;

    img{
      cursor: pointer;
      transition: opacity 0.3s ease;
      opacity: 0.8;
      height: 5rem;
      &:hover{
        opacity: 1;
      }
    }
  }
}



@media only screen and (max-width:780px){
  footer{
    flex-direction: column;
    padding-left: 3.2rem !important;
    padding-right: 3.2rem !important;
    padding-top: 6.6rem;

    .socials{
      padding-top: 0;
      img{
        height: 5rem;
        opacity: 1;
      }
    }
  }
}

@media only screen and (min-width:2001px){

  footer{
    padding-left: 20% !important;
    padding-right: 15% !important;
  }

}
