<section class="about-me" #aboutMeSection>
  <div class="bubble-one">
    <img src="../../assets/icons/bubble-one.png" alt="">
  </div>
  <div class="bubble-two">
    <img src="../../assets/icons/bubble-two.png" alt="">
  </div>

  <div class="about-me-content">
    <h2 class="">
      Let's work <b>together</b>
    </h2>

      <p>
        I am Sanjaya Shrestha, a front-end developer from Regensburg, Germany.
        My passion lies in creating interfaces that users love, all while maintaining code efficiency.
        <br>
        Much like my passion for hiking, where every ascent brings its own set of challenges, coding presents its unique obstacles. In both, the journey is filled with lessons, and the reward whether it's a breathtaking view from a summit or a seamlessly functioning website is always worth the effort.
        <br>
        I invite you to dive into my portfolio, showcasing my projects.

      </p>


  </div>
  <div class="contact-btn ">
    <a href="#contact-me"><button >
      Send me a message
    </button>
  </a>
  </div>
</section>
