.about-me{
  margin-left: 9.2rem;
  margin-right: 9.6rem;
  .bubble-one {
      margin-top: -34rem;
      z-index: 4;
      position: absolute;
      top: 125rem;
      left: 50%;
  }

  .bubble-two{
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    margin-left: 110rem;
  }

  .about-me-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2{
      font-family: 'Baloo 2', cursive;
      font-size: 12.1rem;
      font-weight: 800;
      color:var(--main-color);
      max-width: 60.6rem;
    }

    p{
      max-width: 51.7rem;
      font-size:2.3rem;
    }

    .content-two-div{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap:2.8rem;

    }
  }

  .contact-btn{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    margin-right: 10rem;
    margin-bottom: 12.3rem;

    button{
      padding:1.5rem 3rem;
      border-radius: 1rem;
      border: 2px solid var(--main-color);
      box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);
      font-size: 2.3rem;
      background-color: transparent;
      color: var(--main-color);

      &:hover{
        animation: buttonAnimation 3s forwards;
        color:white;
        cursor: pointer;
      }
    }
  }

  }

  @keyframes buttonAnimation {
    0% {
      background: linear-gradient(105deg, #5988FF -90.22%, #5988FF -49.45%, #0043F0 27.88%, #FFF 33.64%, #FFF 39.44%, #FFF 90.08%);
    }
    33.33%{
      background: linear-gradient(104deg, #5988FF 9.21%, #5988FF 27.52%, #0043F0 62.24%, #FFF 64.83%, #FFF 67.43%, #FFF 90.18%);
    }
    66.66% {
      background: var(--style-2-style-2-blue-gr, radial-gradient(91.12% 91.12% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%));
    }
    100% {
      background: #0043F0;
    }
  }



