<section class="about-me">
  <div class="bubble-one">
    <img src="../../assets/icons/bubble-one.png" alt="">
  </div>
  <div class="bubble-two">
    <img src="../../assets/icons/bubble-two.png" alt="">
  </div>

  <div class="about-me-content">
    <h2>
      Let's work together
    </h2>

      <p>
        I am a Front-end developer based in Munich, Germany. I enjoy helping designers and companies bring their ideas into real life.  I am looking forward to continuing my developer career with a job in a junior web developer position.
        <br>If you think I’d be a good match for your projects, contact me!
      </p>


  </div>
  <div class="contact-btn">
    <button>
      Send me a message
    </button>
  </div>
</section>
