.about-me{
  margin-left: 9.2rem;
  margin-right: 9.6rem;
  .bubble-one {
      margin-top: -34rem;
      z-index: 4;
      position: absolute;
      top: 125rem;
      left: 50%;
  }

  .bubble-two{
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    margin-left: 110rem;
  }

  .about-me-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2,b{
      font-family: 'Baloo 2', cursive;
      font-size: 12.1rem;
      font-weight: 800;
      color:var(--main-color);
      max-width: 60.6rem;
      transform: translateX(-100%); // initial state
      opacity: 0;
      transition: transform 1s, opacity 1s;
    }

    p{
      max-width: 51.7rem;
      font-size:2.3rem;
      transform: translateX(100%); // initial state
      opacity: 0;
      transition: transform 1s, opacity 1s;
    }

    &.animated {
      h2, b {
        transform: translateX(0);
        opacity: 1;
      }

      p {
        transform: translateX(0);
        opacity: 1;
      }
    }

    .content-two-div{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap:2.8rem;

    }
  }

  .contact-btn{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    margin-right: 10rem;
    margin-bottom: 12.3rem;

    & > *, button {
      transform: translateX(100%); // initial state for elements on the right
      opacity: 0;
      transition: transform 1s, opacity 1s;
    }

    &.animated {
      & > *, button {
        transform: translateX(0);
        opacity: 1;
      }
    }
    button{
      padding:1.5rem 3rem;
      border-radius: 1rem;
      border: 2px solid var(--main-color);
      box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);
      font-size: 2.3rem;
      background-color: transparent;
      color: var(--main-color);
      &:hover{
        animation: buttonAnimation 725ms forwards;
        color:white;
        cursor: pointer;
      }

    }
  }

  }

  @media only screen and (max-width:1520px) {

    .bubble-one{
      scale:0.6;
      margin-top: -36rem !important;
    }

  }

  @media only screen and (max-width:1230px) {

    .about-me-content{
      h2,b{
        font-size:9.1rem !important;
      }
    }

  }

  @media only screen and (max-width:1100px) {

    .about-me-content{
      h2,b{
        font-size:7.1rem !important;
      }
      p{
        font-size: 1.7rem !important;
      }
    }

  }
  @media only screen and (max-width:1000px) {

    .about-me-content{
      b{
        font-size:6.1rem !important;
      }

    }

  }

  @media only screen and (max-width:980px) {

    .about-me-content{
      flex-direction: column;
      gap: 3rem;

      p{
        max-width: unset !important;
        text-align: center;
      }
    }

    .contact-btn{
      justify-content: center !important;
      margin-top: 3rem;
      margin-right: unset !important;
      gap: unset !important;
    }

    .bubble-one{
      top: 115rem !important;
      left: 65% !important;
    }

  }

  @media only screen and (max-width:780px){

    .about-me{
      margin-left: 3.2rem !important;
      margin-right: 3.2rem !important;
    }

    .contact-btn{
      margin-bottom: 10.3rem !important;
      margin-top: 5rem !important;
    }
  }

  @media only screen and (max-width:490px){
    .bubble-one{
        top: 96rem !important;
        left: 54% !important;
        transform: scale(0.5);
    }

    .bubble-two{
      margin-top:8rem !important;
    }

    .about-me-content{

      h2{
        font-size: 6.5rem !important;
      }
    }
  }


  @keyframes buttonAnimation {
    0% {
      background: linear-gradient(105deg, #5988FF -90.22%, #5988FF -49.45%, #0043F0 27.88%, #FFF 33.64%, #FFF 39.44%, #FFF 90.08%);
    }
    33.33%{
      background: linear-gradient(104deg, #5988FF 9.21%, #5988FF 27.52%, #0043F0 62.24%, #FFF 64.83%, #FFF 67.43%, #FFF 90.18%);
    }
    66.66% {
      background: var(--style-2-style-2-blue-gr, radial-gradient(91.12% 91.12% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%));
    }
    100% {
      background: #0043F0;
    }
  }


