<section class="hero-section">
  <div class="bg-bubble">
    <img src="../../assets/icons/big-bubble.svg">
  </div>

  <div class="hero-content">
    <div>
      <img class="pp-image" src="../../assets/icons/main-photo.png">
    </div>
    <div class="hero-section-text">
      <p class="fs-64">Hello! I am Sanjaya </p>
      <p class="fs-128">FRONTEND</p>
      <p class="fs-118">DEVELOPER</p>

      <div class="scroll">
        <span>
          Scroll
        </span>
        <div class="vl">
          <img src="../../assets/icons/line.svg" alt="">
        </div>
      </div>
    </div>

    <div class="socials">
      <a class="github" href="https://github.com/pasa2002" target="_blank" >
        <img src="../../assets/icons/github.svg"  alt="github logo">
      </a>
      <a class="mail" href="mailto:sanjaya12stha@gmail.com" target="_blank" >
        <img src="../../assets/icons/email.svg"  alt="mail logo">
      </a>
      <a class="linkedin" href="https://www.linkedin.com/in/sanjaya-shrestha-9212a8242/" target="_blank" >
        <img src="../../assets/icons/linkedin.svg"  alt="linkedin logo">
      </a>
    </div>
  </div>
</section>


