.bg-bubble {
  img {
    position: absolute;
    top: -10rem;
    left: -7rem;
    z-index: 1;
    scale: 1.3;
    object-fit: cover;
  }
}

.hero-section {
  padding-left: 10rem;
  background-color: var(--background-color);
  padding-right: 8.7rem;
  height: 100vh;
  overflow: hidden;
  position: sticky;

  .socials {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 2.5rem;
    width: 10.9rem;
    position: absolute;
    bottom: 0%;


    img{
      transition: transform 0.3s ease-in-out;
    }

    .linkedin {
      margin-bottom: 6.4rem;
    }

    .mail{
      height: 4rem;
      width: 4.3rem;
    }

    img {
      &:hover {
        transform: translateX(-0.5rem);
      }
    }
  }
}

.hero-section.overlapping .hero-section-text {
  color: white;
}


.hero-content {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
  gap: 16%;

  .pp-image{
    height: 90vh;
    position: absolute;
    z-index: 6;
    left: 0%;
    bottom: 0;
  }


  .hero-section-text {
    color: var(--main-color);
    margin-top: 10.2rem;


    span {
      font-size: 2.3rem;
      display: flex;
      align-items: flex-end;
    }

    .scroll {
      position: absolute;
      bottom: 0;
      right: 17%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;


      span {
        margin-bottom: 1rem;
        text-transform: uppercase;
      }
    }
  }
}

.vl {
  display: flex;
  align-items: center;

  img {
    height: 40rem;
  }
}

.fs-64 {
  font-size: 6.4rem;
  font-family: 'Montserrat', sans-serif;
}

.fs-128 {
  font-size: 12.8rem;
  font-family: 'Baloo 2', cursive;
  font-weight: 800;
  margin-top: -4rem;
}

.fs-118 {
  font-size: 11.8rem;
  font-family: 'Baloo 2', cursive;
  font-weight: 800;
  margin-top: -8rem;
}


@media only screen and (max-width:1520px) {
  .fs-64 {
    font-size: 5.4rem;
  }

  .fs-128 {
    font-size: 10.8rem;

  }

  .fs-118 {
    font-size: 8.8rem;
  }

  .hero-section-text{
    margin-top: 16.2rem !important;
  }

}

@media only screen and (max-width:1420px) {
  .bg-bubble {
    img {
      scale: 0.8;
    }
  }

  .pp-image{
    height: 85vh !important;
  }

}

@media only screen and (max-width:1180px) {
  .bg-bubble {
    img {
      top: -9rem;
      left: -17rem;
    }
  }

  .fs-64 {
    font-size: 4.4rem;
  }

  .fs-128 {
    font-size: 8.8rem;

  }

  .fs-118 {
    font-size: 6.8rem;
    margin-top: -6rem;
  }

  .buble-one{
    scale:0.6;
    margin-top: -47rem;
  }


}

@media only screen and (max-width:990px) {

  .bg-bubble{
    img{
      transform: scale(1.2) !important;
    }
  }

  .socials, .scroll{
    display: none !important;
  }

  .hero-section-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 4;
    width: 100%;
    margin-top: 13.7rem !important;

    p{
      background: linear-gradient(to right, white 0%, white 5%, #5988FF 100%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }

    .fs-64{
      font-size: 5.1rem;
    }

    .fs-128{
      margin-top: -3rem;
    }

  }

  .pp-image{
    height: 65vh !important;
    left: 25% !important;
  }


}

@media only screen and (max-width:760px){

  .hero-section{
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }

  .bg-bubble{
    img{
      transform: scale(0.8) !important;
      top: -20rem;
    }
  }
    .hero-section-text{
    display: unset;
  }

  .fs-64{
    font-size: 3.8rem !important;
  }

  .fs-118{
    font-size: 6.4rem !important;
  }

  .fs-128{
    font-size: 7.4rem !important;
  }

  .pp-image{
    height: 65vh !important;
    left: 0% !important;
  }
}


@media only screen and (max-width:575px){
  .bg-bubble{
    img{
      transform: scale(0.8) !important;
      top: -20rem;
    }
  }

  .fs-64{
    font-size: 3.5rem !important;
  }

  .fs-128{
    font-size: 6.8rem !important;
    margin-top: -2.5rem;
  }

  .fs-118{
    font-size: 5.8rem !important;
    margin-top: -5rem !important;
  }



}

@media only screen and (max-width:485px){
  .bg-bubble{
    img{
      transform: scale(0.6) !important;
      top: -22rem;
      left: -18rem;
    }
  }

  .hero-section-text{
    p{
      color: var(--white);
    }
  }
  .fs-64{
    font-size: 3rem !important;
  }

  .fs-128{
    font-size: 5.5rem !important;
    margin-top: -2rem !important;
  }

  .fs-118{
    font-size: 4.5rem !important;
    margin-top: -4rem !important;
  }

  .pp-image{
    height: 60vh !important;
    left: 0% !important;
  }

  .hero-content{
    gap: unset;
  }
}

@media only screen and (max-width:350px){
  .bg-bubble{
    img{
      transform: scale(0.5) !important;
      top: -26rem;
      left: -22rem;
    }
  }

  .hero-section-text{
    margin-top:10.7rem !important;
  }
  .fs-64{
    font-size: 1.9rem !important;
  }

  .fs-128{
    font-size: 3.8rem !important;
    margin-top: -1rem !important;
  }

  .fs-118{
    font-size: 3.5rem !important;
    margin-top: -3rem !important;
  }


}


@media only screen and (min-width:2001px){
  .hero-section{
    padding-left: 20%;
    padding-right: 15%;
  }

  .pp-image{
    left: 21% !important;
  }

  .scroll{
    margin-right: 10%;
  }

}

@media only screen and (min-width:2600px){
  .bg-bubble{
    img{
    transform: scale(1.8);
  }}

}

@media (max-height: 800px) {
  .vl{
    img{
    height: 20rem !important;
  }}
}

