<section class="hero-section">
  <div class="bg-bubble">
    <img src="../../assets/icons/big-bubble.svg">
  </div>

  <div class="hero-content">
    <div>
      <img class="pp-image" src="../../assets/icons/main-photo.png">
    </div>
    <div class="hero-section-text">
      <p class="fs-64">Hello! I am Sanjaya </p>
      <p class="fs-128">FRONTEND</p>
      <p class="fs-118">DEVELOPER</p>

      <div class="scroll">
        <span>
          Scroll
        </span>
        <div class="vl">
          <img src="../../assets/icons/line.svg" alt="">
        </div>
      </div>
    </div>

    <div class="socials">
      <img class="github" src="../../assets/icons/github.svg" alt="github">
      <img class="mail" src="../../assets/icons/email.svg" alt="mail">
      <img class="linkedin" src="../../assets/icons/linkedin.svg" alt="linkedin">
    </div>
  </div>
</section>
