
section{
  max-width: 192rem;
  padding-left: 10rem;
  padding-right: 8.7rem;
  background: linear-gradient(180deg, #FFF 12.89%, #EAF0FF 91.39%);
  h1{
    font-family: var(--baloo);
    font-size: 9rem;
    color: var(--main-color);
    margin-bottom: 8.5rem;
  }
  h3{
    font-family: var(--montserrat);
    font-size: 3.2rem;
    color: var(--main-color);
    font-weight: 500;
    margin-bottom: 3.5rem;
  }
  span{
    font-family: var(--montserrat);
    font-size: 1.6rem;
    display: flex;
    max-width: 47.3rem;
  }
  p{
    font-family: var(--montserrat);
    font-size: 1.6rem;
    color: var(--main-color);
    margin-top: 2.5rem;
    b{
      font-family: var(--baloo);
      font-size: 1.6rem;
      color: var(--main-color);
    }
  }

  .contact-container{
    display: flex;
    justify-content: space-between;
    gap: 4rem;
  }
}

.right-side{
  width: 61.7rem;


form{
  display: flex;
  flex-direction: column;

  input{
    height: 5rem;
    margin-bottom: 3.2rem;
  }

  textarea{
    height: 20rem;
  }

  input,textarea{
    width: 100%;
    border-radius: 1rem;
    border: 0.1rem solid var(--main-color);
    background-color: var(--white);
    font-size: 1.6rem;
    padding: 1.5rem 2.5rem;

    outline: none;
    position: relative;
    @media (max-width:768px) {
      width: 90%;
    }
  }
}
}

.btn-container{
  display: flex;
  justify-content: center;
  overflow: hidden;
  button{
    border-radius: 1rem;
    border: 0.2rem solid var(--main-color);
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);
    padding:2.5rem 3rem;
    align-items: center;
    color: var(--main-color);
    margin-top: 3.2rem;
    margin-bottom: 10rem;
    font-size: 2.3rem;
    cursor: pointer;
    &:hover{
      background-color: var(--main-color);
      color: var(--white);
      transform: scale(1.1);
      transition: transform 225ms ease-in;
    }


    &:disabled {
      border-color: grey;
      color: grey;
      cursor: not-allowed;
  }
}
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-color);
  color: white;
  padding: 5rem 5rem;
  border-radius: 1rem;
  font-size: 3rem;
  z-index: 1000;
}

.error {
  color: red;
  font-size: 12px;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border:1px solid red !important;
}


@media only screen and (max-width:780px){

  .contact-me{
    padding-left: 3.2rem !important;
    padding-right: 3.2rem !important;

    .contact-header{
      font-size: 4.5rem;
      margin-bottom: 3.5rem;
    }

    .contact-container{
      flex-direction: column !important;

      .right-side{
        width: unset;
        margin-top: 3.5rem;
      }

    }

  }
}

@media only screen and (max-width:712px){
  .contact-me{
    padding-right: 0rem !important;
}}
