<section class="contact-me">
  <h1 class="contact-header">
    Contact
  </h1>

  <div class="contact-container">
    <div class="left-side">
      <h3>
        Got a problem to solve?
      </h3>
      <span>
        Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your projects with my work.
      </span>
      <p>
        Need a Frontend developer? <b>Contact me!</b>
      </p>
    </div>
    <div class="example-container">
      <mat-form-field>
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>


  </div>
</section>
